/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
/* root variables */
:root {
  --primary: rgb(52,126,221);
  --secondary: rgb(255, 255, 255);
  --text-light: rgb(233, 231, 231);
  --text-dark: rgb(32, 34, 68);
  --bg-1: rgb(254, 249, 247);
}
/* my styles */
html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
/* container */
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
/* flex{*/
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-30{
  flex: 0 0 30%
}
.flex-60{
  flex:0 0 60%
}
.flexibleImg{
  width: 100%;
  object-fit: cover;
}
/* header */
.header{
  margin: 10rem auto;
}
.header-content{
  margin-left: 8rem;
}
.box{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--text-light);
}
.btn :hover{
  background-color: var(--primary)
}.btn{
  padding: 0.75rem 2rem;
  border: 0;
  background-color: transparent;
  margin-left: 0.5rem;
  opacity: 55%;
}